<?xml version="1.0"?>

<!-- OJ 17.1.20 : Robotiq Gripper Aufruf => ur3_robotiq85_gripper.urdf.xacro catkin_Ws/src/universal_robot/ur_description/launch ->
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <param unless="$(arg limited)" name="robot_description" 
         command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur3_robot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)" />
  <param if="$(arg limited)" name="robot_description" 
         command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur3_robotiq85_gripper.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)" />
</launch>
        
